<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginServelet</display-name>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>com.customer.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/LoginServelet</url-pattern>
  </servlet-mapping>
  <display-name>formProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SigninServerlet1</display-name>
    <servlet-name>SigninServerlet1</servlet-name>
    <servlet-class>com.customer.SigninServerlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServerlet1</servlet-name>
    <url-pattern>/SigninServerlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServelet</display-name>
    <servlet-name>ViewServelet</servlet-name>
    <servlet-class>com.customer.ViewServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServelet</servlet-name>
    <url-pattern>/ViewServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangesServelet</display-name>
    <servlet-name>ChangesServelet</servlet-name>
    <servlet-class>com.customer.ChangesServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangesServelet</servlet-name>
    <url-pattern>/ChangesServelet</url-pattern>
  </servlet-mapping>
</web-app>